<%= render 'page' %>
<center>
<%= link_to hepsiburada_index_path do %>
<div class="btn">Page One</div>
<% end %>
<%= link_to hepsiburada_three_path do %>
<div class="btn">Page Three</div>
<% end %>
</center>
