<div class="home">
  <div class="welcome">
    <h1>Life is short</h1>
  </div>
  <div class="link">
    <a class="btn" href="/decathlon">DECATHLON</a>
    <a class="btn" href="/hepsiburada">hepsiburada</a>
    <a class="btn" href="/adrenalinoutdoor">ADRENALİN OUTDOOR</a>
    <a class="btn" href="#">TEKZEN(coming)</a>
  </div>
</div>
