<div class="home">
  <div class="welcome">
    <h1>Life is short</h1>
  </div>
  <div class="link">
    <a class="waves-effect btn" href="/decathlon">DECATHLON</a>
    <a class="waves-effect btn" href="/hepsiburada">hepsiburada</a>
  </div>
</div>
