 *= require_self

 .body{
   font-family: 'Montserrat', sans-serif !important;
 }
 .welcome{
   text-align: center;
   color: #afb42b;
 }
.product{
  padding: 16px;
  margin-top: 64px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #bdc3c7;
}
.product-brand{
  font-size: 14px;
  color:#d4e157;
}
.product-name{
  font-size: 14px;
  color:#d4e157;
}
.product-price{
  font-size: 16px;
  color: #ffeb3b;
  background-color: #afb42b;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}
.top{
  text-align: center;
  font-size: 15px;
  padding: 3px;
  color: #fff;
}
#hepsiburada{
  background-color: #F28B00;
}
#decathlon{
  background-color: #165EB9;
}
.link{
  text-align: center;
}
.home{
  background-color: rgba(175, 180, 43, 0.5);
}
