/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .body{
   margin: 0 auto;
   width: 1200px;
 }
.product{
  background-color: #8bc34a;
  padding: 16px;
  margin: 12px;
  border-radius: 3px;
  box-shadow: 1px 1px 8px #bdc3c7;
}
.product-price{
  font-size: 16px;
  color: #ffeb3b;
  margin-left: 6px;
  background-color: #afb42b;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}
.product-name{
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  color:#d4e157;
}
